body {
	font-family: 'Noto Serif', serif;
	margin: 0;
  }

h1 {
	color: white;
	font-size: 50px;
	text-shadow: 100px;
	font-weight: normal;
	margin-bottom: 0;
}

h2 {
	color: white;
	font-size: 18px;
	text-shadow: 30px;
	margin-top: 0;
}

h3 {
	text-align: center;
	font-size: 28px;
	font-weight: normal;
	margin-top: 100px;
}

h4 {
	text-align: center;
	font-size: 24px;
}

p {
	text-align: center;
}

li {
	display: inline-block;
	font-size: 15px;
	width: 100px;
	font-weight: bold;
	margin-top: 30px;
	padding-top: 8px;
	padding-bottom: 8px;
	text-align: center;
	margin-left: 30px;
}

.bio {
	color: white;
	font-size: 16px;
}

.me {
	height: 150px;
	border-radius: 100%;
	border-style: solid;
	border-color: white;
	margin-top: 40px;
}

.about {
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;

}
.grey {
	background-color: #918C8C;
	height: 3px;
	border: none;
	width: 50px;
}
.about-container {
	background: url('../images/tech.jpg') no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	height: 600px;
  }

.yellow {
	border-top: 5px double #F5A623;
	width: 250px;
	border-bottom: none;
	border-right: none;
}

.box {
	float: left;
	width: 42.5%;
	margin-left: 5%;
	margin-top: 80px;
}

.clear {
	clear: both;
}

.full-width {
	width: 100%;
}

.skills-and-tools {
	max-width: 400px;
	margin: 40px auto;
}

.icons {
	text-align: center;
}

.icon {
	margin: 30px 0;
}

.contact-me {
	height: 350px;
	background-color: #202020;
	padding-top: 30px;
}

.contact-info {
	color: white;
	font-size: 17px;
	margin-top: 30px;
	text-align: center;
}

.contact-headline {
	color: white;
}

.contact-link {
	color: white;
	font-weight: bold;
	font-size: 13px
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.nav-link {
	color: white;
	text-decoration: none;
}

.hire-me {
	border: solid;
	border-color: white;
	padding-top: 8px;
	padding-bottom: 8px;
}

.foo-bar {
	padding-top: 30%;
}

.space {
	margin-top: -15;
}

.web {
	padding-top: 5%;
}

.email {
	display: block;
	text-align: center;
	font-size: 20px;
}